@font-face {
  font-family: 'yellowtail';
  src: url('./fonts/Yellowtail-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'gentle';
  src: url('./fonts//MADE\ Gentle\ PERSONAL\ USE.otf') format('opentype');
}


/* body{
  font-family: 'Poppins', sans-serif;
} */